{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    
    <section class="pesel-form-container">

        {% include('default/flash_message.html.twig') %}
        {% include('default/form/pesel_form.html.twig') %}
    
    </section>

{% endblock %}
