form {
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-item-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.form-label {
    padding-top: 0.4rem;
    flex: 1;
}

.form-widget {
    flex: 2;
}

.form-check-label {
    max-width: 100%;
    margin-left: 0.3rem;
}

.form-button {
    margin-top: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
}
