body {
    padding: 0;
    margin: 0;
    background-color: #D4E8FF;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main.app-main {
    padding: 0 8rem 0;
}

main.app-main a.link {
    color: #0495FE;
    text-decoration: none;
}

header.app-header {
    padding-top: 2.8rem;
    padding-bottom: 3.3rem;
    display: flex;
    justify-content: center;
}
header.app-header h1 {
    font-size: 2rem;
    margin: 0;
}

section.pesel-form-container {
    padding: 0 25% 0;
}