{{ form_start(pesel_form) }}

<div class="form-item-container">
    {{ form_errors(pesel_form) }}
</div>

<div class="form-item-container form-group">
    <div class="form-label">
        {{ form_label(pesel_form.pesel) }}
    </div>
    <div class="form-widget">
        {{ form_widget(pesel_form.pesel) }}
        {{ form_errors(pesel_form.pesel) }}
    </div>
</div>

<div class="form-item-container form-button">
    {{ form_widget(pesel_form.validate) }}
</div>

{{ form_end(pesel_form) }}